<!DOCTYPE>
<html>
<head>
    <title>{{homeTitle}}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{cssAsset 'app'}}">
    <meta name="viewport" content="width=400, user-scalable=no">
</head>
<body>

<div class="centered-box">
{{> partials/header}}
{{> partials/game}}
</div>

{{> partials/footer}}

<script type="text/javascript" defer src="{{jsAsset 'app'}}"></script>
</body>
</html>