<button type="button" class="btn btn-default btn-back" title="Change difficulty">&#9001;</button>
<div class="btn-group btn-control-group" role="group">
    <button type="button" class="btn btn-default btn-hint" title="Ask for a hint">Hint</button>
    <button type="button" class="btn btn-default btn-clear" title="Clear your solutions">Clear</button>
    <button type="button" class="btn btn-default btn-solve" title="Solve the puzzle">Solve</button>
</div>