<div class="dropdown-group">
    <a class="dropdown-menu-button" tabindex="0" role="button" aria-expanded="false">Select the difficulty to start playing</a>
    <ul class="dropdown-menu" role="menu">
        <li tabindex="0" role="menuitem">Beginner</li>
        <li tabindex="0" role="menuitem">Easy</li>
        <li tabindex="0" role="menuitem">Medium</li>
        <li tabindex="0" role="menuitem">Hard</li>
        <li tabindex="0" role="menuitem">Expert</li>
    </ul>
</div>