<div class="dropdown-group dropdown-difficulty">
    <ul class="dropdown-menu" role="menu">
        <li tabindex="0" role="menuitem" difficulty="beginner">Beginner</li>
        <li tabindex="0" role="menuitem" difficulty="easy">Easy</li>
        <li tabindex="0" role="menuitem" difficulty="medium">Medium</li>
        <li tabindex="0" role="menuitem" difficulty="hard">Hard</li>
        <li tabindex="0" role="menuitem" difficulty="expert">Expert</li>
    </ul>
</div>